@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
#Container{
  font-family: 'Yantramanav', sans-serif;
  background: #444;
  width:800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px
}
#Header{
  color: white;
  background: #222;
  height:150px;
  text-align: center;
}
#ColumnLeft{
  background: #666;
  width:400px;
  height:500px;
  float: left;
}
#ColumnRight{
  background: #CCC;
  width:400px;
  height:500px;
  float: right;
}
#Footer{
  color: white;
  background: #222;
  height:50px;
  clear: both;
}
