@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');
#Container{
  font-family: 'Yantramanav', sans-serif;
  background: white;
  width: 1000px;
  height: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11px;
  border-color: #CCC;
  border-style: solid;
  border-width: 1px;
}
#Header{
  font-size: 200%;
  color: white;
  background: #222;
  width: 900px;
  height: 200px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
}
#ColumnContainer{
  font-size: 120%;
  background: white;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#ColumnLeft{
  background: white;
  width: 440px;
  height: 1000px;
  float: left;
}
#ColumnRight{
  background: white;
  width: 440px;
  height: 1000px;
  float: right;
}
#Footer{
  color: white;
  background: #222;
  width: 900px;
  height: 50px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;  
}
